/* nav styles */

.large-logo {
    width: 300px;
    min-width: 300px;
    position: relative;
    bottom: 9px;
}

.small-logo {
    width: 168px;
    min-width: 168px;
}

form section .question:nth-child(odd) {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
}

form section .question:nth-child(even) {
    background-color: #ffc0cb;
    padding: 5px;
    border: 1px solid #ccc;
}